 # Połączenie z bazą danych przy pomocy sqlAlchemy

In [1]:
from sqlalchemy import create_engine

db_string = "postgresql://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

db = create_engine(db_string)
connection_sqlalchemy = db.connect()
# connection = pg.connect(host='localhost', port=5432, dbname='test', user='postgres', password='admin')

In [2]:
#zad 1
result_set = db.execute("SELECT COUNT(*) FROM category")  
for r in result_set:  
    print(r)
# COUNT(film_id)

(16,)

In [3]:
result_set = db.execute("SELECT * FROM category ORDER BY name")  
for r in result_set:  
    print(r)

(1, 'Action', datetime.datetime(2006, 2, 15, 9, 46, 27))
(2, 'Animation', datetime.datetime(2006, 2, 15, 9, 46, 27))
(3, 'Children', datetime.datetime(2006, 2, 15, 9, 46, 27))
(4, 'Classics', datetime.datetime(2006, 2, 15, 9, 46, 27))
(5, 'Comedy', datetime.datetime(2006, 2, 15, 9, 46, 27))
(6, 'Documentary', datetime.datetime(2006, 2, 15, 9, 46, 27))
(7, 'Drama', datetime.datetime(2006, 2, 15, 9, 46, 27))
(8, 'Family', datetime.datetime(2006, 2, 15, 9, 46, 27))
(9, 'Foreign', datetime.datetime(2006, 2, 15, 9, 46, 27))
(10, 'Games', datetime.datetime(2006, 2, 15, 9, 46, 27))
(11, 'Horror', datetime.datetime(2006, 2, 15, 9, 46, 27))
(12, 'Music', datetime.datetime(2006, 2, 15, 9, 46, 27))
(13, 'New', datetime.datetime(2006, 2, 15, 9, 46, 27))
(14, 'Sci-Fi', datetime.datetime(2006, 2, 15, 9, 46, 27))
(15, 'Sports', datetime.datetime(2006, 2, 15, 9, 46, 27))
(16, 'Travel', datetime.datetime(2006, 2, 15, 9, 46, 27))

In [4]:
result_set = db.execute("SELECT title FROM film ORDER BY release_year DESC LIMIT 1;")  
for r in result_set:  
    print(r)
result_set = db.execute("SELECT title FROM film ORDER BY release_year ASC LIMIT 1;")  
for r in result_set:  
    print(r)

('Chamber Italian',)
('Chamber Italian',)

In [5]:
result_set = db.execute("SELECT COUNT(*) FROM rental WHERE rental_date BETWEEN '2005-07-01' AND '2005-08-01';")  
for r in result_set:  
    print(r)

(6709,)

In [6]:
result_set = db.execute("SELECT COUNT(*) FROM rental WHERE rental_date BETWEEN '2010-01-01' AND '201-02-01';")  
for r in result_set:  
    print(r)

(0,)

In [7]:
result_set = db.execute("SELECT amount FROM payment ORDER BY amount DESC LIMIT 1;")  
for r in result_set:  
    print(r)

(Decimal('11.99'),)

In [8]:
# ZAD 7
result_set = db.execute("SELECT country.country_id, country.country FROM country")  
# for r in result_set:  
#     print(r)
result_set = db.execute("SELECT customer.last_name, customer.first_name , country.country FROM customer INNER JOIN address ON customer.address_id=address.address_id INNER JOIN city ON city.city_id=address.city_id JOIN country ON country.country_id=city.country_id where country.country='Nigeria' OR country.country='Bangladesh' OR country.country='Poland' ")  
for r in result_set:  
    print(r)

('Gregory', 'Sonia', 'Nigeria')
('Wyman', 'Brian', 'Poland')
('Burleson', 'Sidney', 'Poland')
('Moeller', 'Rodney', 'Nigeria')
('Qualls', 'Stephen', 'Bangladesh')
('Lucas', 'Velma', 'Nigeria')
('Ross', 'Marilyn', 'Nigeria')
('Kelley', 'Elsie', 'Nigeria')
('Hamilton', 'Gladys', 'Nigeria')
('Waggoner', 'Frank', 'Bangladesh')
('Tucker', 'Marjorie', 'Poland')
('Garcia', 'Carol', 'Nigeria')
('Curtis', 'Leah', 'Poland')
('Geary', 'Ruben', 'Poland')
('Jimenez', 'Olga', 'Nigeria')
('Ferguson', 'Bertha', 'Nigeria')
('Barrett', 'Tracey', 'Nigeria')
('Fowler', 'Jo', 'Nigeria')
('Chisholm', 'Johnnie', 'Poland')
('Slone', 'Wallace', 'Nigeria')
('Clark', 'Michelle', 'Bangladesh')
('Brinson', 'Russell', 'Poland')
('Eggleston', 'Jimmie', 'Poland')
('Reid', 'Constance', 'Nigeria')

In [9]:
# Zad 8
result_set = db.execute("SELECT city.city , country.country FROM staff INNER JOIN address ON staff.address_id=address.address_id JOIN city ON city.city_id=address.city_id JOIN country ON country.country_id=city.country_id ")  
for r in result_set:  
    print(r)

('Lethbridge', 'Canada')
('Woodridge', 'Australia')

In [10]:
# Zad 8
result_set = db.execute("SELECT city.city , country.country FROM staff INNER JOIN address ON staff.address_id=address.address_id INNER JOIN city ON city.city_id=address.city_id JOIN country ON country.country_id=city.country_id ")  
for r in result_set:  
    print(r)

('Lethbridge', 'Canada')
('Woodridge', 'Australia')

In [11]:
#zad 9 nikt
result_set = db.execute("SELECT city.city , country.country FROM staff INNER JOIN address ON staff.address_id=address.address_id INNER JOIN city ON city.city_id=address.city_id JOIN country ON country.country_id=city.country_id ")  
for r in result_set:  
    print(r)

('Lethbridge', 'Canada')
('Woodridge', 'Australia')

Zapytanie do bazy i wypisanie wyników

In [12]:
# Zad 10
# result_set = db.execute("SELECT * FROM rental INNER JOIN inventory ON inventory.inventory_id=rental.inventory_id INNER JOIN film ON film.film_id=inventory.film_id ")  
# for r in result_set:  
#     print(r)
result_set = db.execute("SELECT category.name FROM film_category JOIN category on category.category_id=film_category.category_id INNER JOIN film ON film.film_id=film_category.film_id INNER JOIN inventory ON film.film_id=inventory.film_id INNER JOIN rental ON inventory.inventory_id=rental.inventory_id GROUP BY category.name")  
for r in result_set:  
    print(r)

('Sports',)
('Classics',)
('New',)
('Family',)
('Comedy',)
('Animation',)
('Travel',)
('Music',)
('Drama',)
('Horror',)
('Sci-Fi',)
('Games',)
('Documentary',)
('Foreign',)
('Action',)
('Children',)

In [16]:
# Zad 11 Niema nic wyporzyczone w usa
result_set = db.execute("SELECT category.name, country.country FROM film_category JOIN category on category.category_id=film_category.category_id INNER JOIN film ON film.film_id=film_category.film_id INNER JOIN inventory ON film.film_id=inventory.film_id INNER JOIN rental ON inventory.inventory_id=rental.inventory_id \
                        join payment on payment.rental_id=rental.rental_id join staff on payment.staff_id=staff.staff_id join store on store.store_id=staff.store_id join address on address.address_id=store.address_id join city on address.city_id=city.city_id join country on country.country_id=city.country_id where country.country='United States'\
                        GROUP BY category.name , country.country ")  
for r in result_set:  
    print(r)
    #dla referencji ząłaczone kraje z wypozyczaną kategorią 
result_set = db.execute("SELECT category.name, country.country FROM film_category JOIN category on category.category_id=film_category.category_id INNER JOIN film ON film.film_id=film_category.film_id INNER JOIN inventory ON film.film_id=inventory.film_id INNER JOIN rental ON inventory.inventory_id=rental.inventory_id \
                        join payment on payment.rental_id=rental.rental_id join staff on payment.staff_id=staff.staff_id join store on store.store_id=staff.store_id join address on address.address_id=store.address_id join city on address.city_id=city.city_id join country on country.country_id=city.country_id\
                        GROUP BY category.name , country.country ")  
for r in result_set:  
    print(r)

('Action', 'Australia')
('Action', 'Canada')
('Animation', 'Australia')
('Animation', 'Canada')
('Children', 'Australia')
('Children', 'Canada')
('Classics', 'Australia')
('Classics', 'Canada')
('Comedy', 'Australia')
('Comedy', 'Canada')
('Documentary', 'Australia')
('Documentary', 'Canada')
('Drama', 'Australia')
('Drama', 'Canada')
('Family', 'Australia')
('Family', 'Canada')
('Foreign', 'Australia')
('Foreign', 'Canada')
('Games', 'Australia')
('Games', 'Canada')
('Horror', 'Australia')
('Horror', 'Canada')
('Music', 'Australia')
('Music', 'Canada')
('New', 'Australia')
('New', 'Canada')
('Sci-Fi', 'Australia')
('Sci-Fi', 'Canada')
('Sports', 'Australia')
('Sports', 'Canada')
('Travel', 'Australia')
('Travel', 'Canada')

In [19]:
# Zad 12
result_set = db.execute("SELECT film.title from film_actor\
                        join actor on actor.actor_id=film_actor.actor_id \
                        join film on film.film_id=film_actor.film_id where (actor.first_name='Olympia' and actor.last_name='Pfeiffer') or (actor.first_name='Julia' and actor.last_name='Zellweger') or (actor.first_name='Ellen' and actor.last_name='Presley') group by film.title")  
for r in result_set:  
    print(r)

('Badman Dawn',)
('Bilko Anonymous',)
('Breakfast Goldfinger',)
('Caribbean Liberty',)
('Casper Dragonfly',)
('Chitty Lock',)
('Color Philadelphia',)
('Contact Anonymous',)
('Cranes Reservoir',)
('Dares Pluto',)
('Deep Crusade',)
('Detective Vision',)
('Divorce Shining',)
('Effect Gladiator',)
('Empire Malkovich',)
('Express Lonely',)
('Firehouse Vietnam',)
('Floats Garden',)
('Frogmen Breaking',)
('Fugitive Maguire',)
('Hanky October',)
('Hollow Jeopardy',)
('Homeward Cider',)
('Hyde Doctor',)
('Ice Crossing',)
('Idols Snatchers',)
('Image Princess',)
('Intolerable Intentions',)
('Jacket Frisco',)
('Jeopardy Encino',)
('Lambs Cincinatti',)
('Magnolia Forrester',)
('Majestic Floats',)
('Mars Roman',)
('Maude Mod',)
('Microcosmos Paradise',)
('Minds Truman',)
('Murder Antitrust',)
('Network Peak',)
('None Spiking',)
('Open African',)
('Oscar Gold',)
('Others Soup',)
('Outlaw Hanky',)
('Panky Submarine',)
('Pickup Driving',)
('Pinocchio Simon',)
('Private Drop',)
('Psycho Shrunk',)
('Rider Caddyshack',)
('Roots Remember',)
('Santa Paris',)
('Scarface Bang',)
('Secretary Rouge',)
('Sense Greek',)
('Spy Mile',)
('Storm Happiness',)
('Streetcar Intentions',)
('Sweet Brotherhood',)
('Tadpole Park',)
('Titanic Boondock',)
('Tourist Pelican',)
('Traffic Hobbit',)
('Treasure Command',)
('Turn Star',)
('Wait Cider',)
('Women Dorado',)
('Won Dares',)
('Wyoming Storm',)

 # Połączenie z bazą danych przy pomocy psycopg2 i pandas

In [14]:
import psycopg2 as pg
import pandas as pd

connection = pg.connect(host='localhost', port=5432, dbname='test', user='postgres', password='postgres')

OperationalError: could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5432?

Zapytanie do bazy i wypisanie wyników

In [ ]:
df = pd.read_sql('select * from city',con=connection)
df

## Połączenie za pomocą sqlAlchemy i pandas

In [ ]:
df = pd.read_sql('select * from city', con=connection_sqlalchemy)
df